<style>
    #form_repositories input, label {
        float: left;
    }

    #form_repositories input {
        clear: left;
    }
</style>

<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
